body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
  }
 
  .title{
    font-size: 40px;
    color: khaki;
    display: flex;
    justify-content: center;

  }

  #principal{
    font-size: 50px;
    display: flex;
    justify-content: center;

  }

  .title2{
    font-size: 30px;
    color: darkslategrey;
    display: flex;
    justify-content: center;

  }

  .texto{
    font-size: 20px;

  }

  .lista{
    font-size: 25px;
    color: darkslategrey;
    display: flex;
    justify-content: center;

  }

  .temas{
    font-size: 2em;
    color: darkslategrey;
    border: 2px solid black;
    width: fit-content;
    
    padding: 0.8em;
    border-radius: 15%;
    
  }

  .temas:hover{
    background-color: beige;

  }

  .imagenes{
    border: 1px solid black;
    width: fit-content;
    padding: 1%;
    border-radius: 5%;


  }

  #nihongo {
    border: 2px solid black;
    width: fit-content;
    padding: 1%;
    border-radius: 15%;

  }

  #temas-container {
    
    width: 85%;
    margin: auto;
    margin-top: 1.5em;
    border: 5px salmon;
    border-radius: 15%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #imagen-principal {
    display: flex;
    justify-content: center;
  }

  #letras-graficas {
    display: flex;
    justify-content: center;
    
  }